*/.suo
*/.wsuo
*/.vsidx
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.vs/slnx.sqlite
*./vcs.xml
/.vs/DisneyParisWaitTimes/v17/.suo
/.vs/DisneyParisWaitTimes/v17/.wsuo
/.vs/DisneyParisWaitTimes/FileContentIndex/*
/data/*
